{% extends "table_template.html" %}

{% block result_title %}
<h2>LSST key numbers</h2>
{% if version %}
    <h2>Version:  {{version}} </h2>
{% endif %}
{% endblock %}

{% block control %}
<p>'Version' effectively refers to a table in the SQLite database of parameters
underlying this page.  Each table corresponds to a change-controlled version of
the LSST model.  To see a list of available versions, click on the 'List
available model versions' button on the main page.</p>

<b>Model version:</b>
<form action="/key_numbers" method="POST">
    {% for model_version in available_versions %}
        <input type="radio" name="version" value={{ model_version }}> {{ model_version }}
    {% endfor %}
    <br><br>
    <div class="button">
        <button type="submit">Search</button>
    </div>
</form>
{% endblock %}
