{% extends "title.html" %}

{% block actual_page %}
<form action="/versions" method="GET">
    <div>
        <button type="submit">List available model versions</button>
    </div>
</form>

<form action="/list-names" method="GET">
    <div>
        <button type="submit">List all parameters for a model version</button>
    </div>
</form>

<form action="/list-xml-files" method="GET">
    <div>
        <button type="submit">List all .xml files for a model version</button>
    </div>
</form>

<form action="/search" method="GET">
    <div>
        <button type="submit">Search parameters by keyword</button>
    </div>
</form>


<form action="/optical_system" method="GET">
    <div>
        <button type="submit">Browse optical system</button>
    </div>
</form>

<form action="/key_numbers" method="GET">
    <div>
        <button type="submit">LSST key numbers</button>
    </div>
</form>

{% endblock %}
