{% extends "title.html" %}

{% block documentation %}

<p>This webpage provides access to the system parameters characterizing the
LSST as stored in the Systems Engineering team's Enterprise Architect
models.  These parameters have been exported from Enterprise Architect in the
form of .xml files which have been scraped for data and ingested into a SQLite
database.  Each .xml file corresponds to a discrete module in the
LSST model.  A different set of .xml files has been exported for each
change-controlled version of the LSST system.  When searching this database,
you will need to specify the version of the system you wish to search.</p>

<p>To see a list of important values characterizing LSST, click on the
<a href="/key_numbers" method="GET">Key numbers</a> link above.</p>

<p>To search the parameter database, click on the
<a href="/search" method="GET">Keyword search</a> link.</p>

<p>To browse the parameters characterizing the components of the LSST optical
system (the mirrors, lenses, and filters), click on the
<a href="/optical_system" method="GET">Optical system</a> link.</p>

<p>To see a list of the names of all of the parameters stored in this database,
click on the <a href="/list-names" method="GET">Parameter names</a>
link.</p>

<p>To see a list of all of the .xml files underlying this database, click on
the <a href="/list-xml-files" method="GET">.xml files</a> link.</p>

{% endblock %}
