{% extends "table_template.html" %}

{% block documentation %}
<div>
<h2> Browse optical system</h2>
</div>

<p>This page will print out all of the parameter associated with the lenses,
mirrors, and filters which are stored in the .xml files
'Telescope Requirements_v1.xml', 'OSS_Detail_OpticalSystem_v1.xml', and
'Camera Requirements_v1.xml'</p>

{% endblock %}

{% block control %}
<form action="/optical_system" method="POST">
    <div>
        Model version:
        {% for possible_version in available_versions %}
            <input type="radio" name="version" value={{ possible_version }}
            {% if model_version == possible_version %} checked="checked" {% endif %}> {{ possible_version }}
        {% endfor %}
    </div>
    <div class="button">
        <button type="submit" name="element" value="m1">M1</button>

        <button type="submit" name="element" value="m2">M2</button>

        <button type="submit" name="element" value="m3">M3</button>

        <button type="submit" name="element" value="l1">L1</button>

        <button type="submit" name="element" value="l2">L2</button>

        <button type="submit" name="element" value="l3">L3</button>

        <button type="submit" name="element" value="u-band">u-band</button>

        <button type="submit" name="element" value="g-band">g-band</button>

        <button type="submit" name="element" value="r-band">r-band</button>

        <button type="submit" name="element" value="i-band">i-band</button>

        <button type="submit" name="element" value="z-band">z-band</button>

        <button type="submit" name="element" value="y-band">y-band</button>
    </div>

</form>

{% endblock %}

{% block result_title %}
<div>
    <h2>Parameters characterizing {{ title }} </h2>
    {% if model_version %}
        <h2>Model version: {{ model_version }} </h2>
    {% endif %}
</div>
{% endblock %}
