{% extends "search_template.html" %}

{% block results %}
{% if input_list %}
    <h1>Available parameters in model version {{ model_version }}</h1>
{% endif %}

<ul>
    {% for item in input_list %}
        <li> {{ item }} </li>
    {% endfor %}
</ul>
{% endblock %}


{% block control %}
<h2>List all of the parameters in a specified model version</h2>

<p>To see a list of available model versions, click the 'List available model
versions' button on the main page.</p>

<b>Model version:</b>
<form action="/list-names" method="POST">
    {% for model_version in available_versions %}
        <input type="radio" name="version" value={{ model_version }}> {{ model_version }}
    {% endfor %}
    <br><br>
    <div class="button">
        <button type="submit">List parameter names</button>
    </div>
</form>
{% endblock %}
