{% for item in input_list %}
    <h2> {{ item.name }} </h2>
    {% if item.doc %}
        {{ item.doc }}
    {% endif %}
    <ul>
    {% if item.values['defaultValue'] %}
        <li>defaultValue: {{ item.values['defaultValue'] }} {{item.units}}</li>
    {% endif %}
    {% if item.values['upperValue'] %}
        <li>upperValue: {{ item.values['upperValue'] }} {{item.units}}</li>
    {% endif %}
    {% if item.values['lowerValue'] %}
        <li>lowerValue: {{ item.values['lowerValue'] }} {{item.units}}</li>
    {% endif %}
    </ul>
{% endfor%}

{% if input_list %}
    <p></p>
{% endif %}

<form action="/search" method="POST">
    <div>
        <label for="keyword">Keyword:</label>
        <input type="text" id="keyword" name="keyword" />
    </div>
    <div>
        <label for="version">Version:</label>
        <input type="test" id="version" name="version" />
    </div>
    <div class="button">
        <button type="submit">Search</button>
    <div>
</form>
