<style>
div {
    margin: 10px 10px 10px 10px
}
</style>

<style>
p {
     margin: 10px 10px 10px 10px
}
</style>

<div>
    <div>
        <img src="/static/LSST_logo.png" width=250 height=94>
    </div>
    <div>
        <p style="font-size:20px">System Engineering Parameter Database</p>
    </div>
</div>

<br><br>

<style>
ul#navbar {
    list-style-type: none;
    margin: 10px 10px 10px 10px;
    padding: 0;
}
li#navbar {
    float: left;
}
a#navbar {
    display: block;
    background-color: #dddddd;
    padding: 15px;
    border-bottom: 1px solid #777777;
    border-left: 1px solid #777777;
    border-right: 1px solid #777777;
    border-top: 1px solid #777777;
    font-size: 20px;
}
</style>

<ul id="navbar">
<li id="navbar"><a id="navbar" href="/">Main</a></li>
<li id="navbar"><a id="navbar" href="/key_numbers" method="GET">Key numbers</a></li>
<li id="navbar"><a id="navbar" href="/search" method="GET">Search</a></li>
<li id="navbar"><a id="navbar" href="/optical_system" method="GET">Optical system</a></li>
<li id="navbar"><a id="navbar" href="/list-names" method="GET">Parameter names</a></li>
<li id="navbar"><a id="navbar" href="/list-xml-files" method="GET">.xml files</a></li>
</ul>
<br><br><br><br>

{% block documentation %}
{% endblock %}

{% block body %}
{% endblock %}
