{% extends "search_template.html" %}

{% block results %}
{% if input_list %}
    <h2>.xml files underlying model version {{ model_version }}</h2>
{% endif %}

<ul>
    {% for item in input_list %}
        <li> {{ item }} </li>
    {% endfor %}
</ul>
{% endblock %}

{% block control %}
<h2>List all of the .xml files on which a specified model version is based</h2>

<p>To see a list of available model versions, click the 'List available model
versions' button on the main page.</p>

<form action="/list-xml-files" method="POST">
    <div>
        <label for="version">Version:</label>
        <input type="text" id="version" name="version" />
    </div>
    <div class="button">
        <button type="submit">List .xml files</button>
    </div>
</form>
{% endblock %}
